## Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# End of https://www.gitignore.io/api/django
static/
!drf/static
.DS_Store
._.DS_Store
env/
gunicorn.socket
htmlcov/
.coverage

# Idea configuration
.idea
.vscode
tsconfig.json
/coverage
test_results.xml
.autoenv
.pytest_cache