pytest==4.3.1
pytest-cache==1.0
pytest-cov==2.6.1
pytest-django==3.4.8
pytest-forked==1.0.2
pytest-pep8==1.0.6
pytest-timeout==1.3.3
pytest-xdist==1.26.1
coverage==4.5.3
pycobertura==0.10.4
black==19.3b0
django==2.2.8
coreapi==2.3.3